.card-img-section img{
     height: 350px;
     width: 100%;
     border-radius: 2px;
}

.card-text{
     height: 190px;
     width: 100%;
     
}
::-webkit-scrollbar{
     display: none;
}

.card-text{
     line-height: 15px;
}

.tyming{
     line-height: 0px;
}

.selected-btn{
     width: 100%;
     height: 25px;
     background-color: coral;
     border: none;

}

@media screen and (max-width: 600px) {
    
     .selected-btn{
          width: 100%;
          height: 25px;
          background-color: coral;
          border: none;
     
     }
     .card-text{
          margin: 0;
          padding: 0;
     }
     .card-section{
          width: 90%;

     }
    
}