.content-section{
     display: grid;
     grid-template-columns: 5fr 1fr;
}

.content{
     /* margin-left: 40px; */
}

.content h1{
     color: mediumslateblue;
     font-weight: 700;
}

.sub-hadding{
     font-weight: 600;
     font-size: 18px;
     margin-top: 0px;
     margin-bottom: 30px;
}

.show-card-sction{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 7px;
}


.side-bar-section{
     background-color: #fff;
     
     
}

.time-brack{
     display: flex;
     gap: 15px;
     font-weight: 600;        
}

.Ex-time h6{
     padding: 5px;
}

.Br-time h6{
     padding: 5px;
}

.compleate-button{
     padding: 15px;
     width: 100%;
     border: none;
     margin-top: 20px;
     border-radius: 2px;
     background-color: rgb(121, 100, 243);
}



@media screen and (max-width:600px){
     .show-card-sction{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 15px;
     }
     .content-section{
          display: flex;
          flex-direction: column;
     }
     .side-bar-section{
          width: 100%;
          height: auto;

     }
     .content h1{
          width: 100%;
          margin: 0;
     }
     .time-brack{
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 6px;
     }

     .compleate-button{
          padding: 15px;
          width: 100%;
          border: none;
          margin-top: 20px;
          border-radius: 2px;
          background-color: rgb(121, 100, 243);
     }
     .count-display-section{
          width: 100%;
          height: auto;
          overflow: hidden;
     }
     .content{
          overflow: hidden;
          padding: auto;
          margin-left: 5px;
     }
     ::-webkit-scrollbar{
          display: none;
     }
     .sub-hadding{
          font-weight: 600;
          margin-top: 0px;
          margin-bottom: 20px;
          width: 100%;
          overflow: hidden;
     }
     .content p{
          overflow: hidden;
          width: 100%;
          padding-right: 0;
     }
     .heading{
          width: 100%;
     }
     .show-card-sction{
               width: 100%;
     }
}